/* reset*/
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.block {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.line {
  margin-left: -5px;
  margin-right: -5px;
}

.lin:before,
.line:after {
  content: "";
  display: table;
}

.line:after {
  clear: both;
}

/* colunas */
.col {
  display: inline-block;
  vertical-align: top;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  margin-right: -4px;
}

@media (min-width: 480px) {
  .col-6 {
    width: 50%;
  }
}

@media (min-width: 728px) {
  .col-8 {
    width: 66.6666%;
  }
  .col-4 {
    width: 25%;
  }
  .col-3 {
    width: 33.3333%;
  }
  .col-2 {
    width: 16.6666%;
  }
  .col-1 {
    width: 8.3333%;
  }
  .off-8 {
    margin-left: 66.6666%;
  }
  .off-4 {
    margin-left: 33.33333333%;
  }
  .off-3 {
    margin-left: 25%;
  }
}

.qdl {
  display: block;
}

.f-s-08em {
  font-size: 0.8em !important;
}

.f-s-18 {
  font-size: 18px !important;
}

.f-s-14 {
  font-size: 14px !important;
}

.f-s-12 {
  font-size: 12px !important;
}

.f-w-b {
  font-weight: bold !important;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.m-l-50 {
  margin-left: 50px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-5 {
  margin-top: 5px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.ds-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center {
  text-align: center;
}

.bg-primary {
  background-color: #fab49b;
}

.bg-li-primary {
  background-color: #fbc7b4;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #716c6a;
}

.bg-l-gray {
  background-color: #eef1f2;
}

.b-b-primary {
  border-bottom: 1px solid #fab49b;
}

.bordered {
  border: 1px solid #eef1f2;
}

.respo-img {
  display: block;
  max-width: 100%;
  height: auto;
}

header .menu-cabecalho {
  list-style: none;
  padding: 5px;
}

header .menu-cabecalho li {
  display: inline;
}

header .menu-cabecalho li a {
  text-decoration: none;
  color: #716c6a;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 20px;
}

header .inp-search {
  border: none;
  border-bottom: 1px solid #c3c3c3;
  height: 30px;
  outline: none;
  width: 33%;
}

header .wish {
  margin-top: 5px;
}

header .wish img {
  position: absolute;
}

header .wish a {
  margin-left: 30px;
  color: #716c6a;
  text-decoration: none;
}

header .wish a:hover {
  color: #3c3c3c;
}

header .bag {
  padding-left: 15px;
  margin-top: -5px;
}

header .itens {
  padding-left: 10px;
}

header .menu-line {
  padding-bottom: 10px;
}

header .menu {
  list-style: none;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

header .menu li {
  display: inline;
  padding-left: 80px;
}

header .menu li a {
  text-decoration: none;
  color: #716c6a;
  text-transform: uppercase;
  font-size: 12px;
}

.active {
  color: #fab49b !important;
  border: 2px solid #fab49b;
  border-left: none;
  border-right: none;
}

.services {
  list-style: none;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services li {
  display: inline-block;
  padding: 20px;
  position: relative;
}

.services li img {
  margin-top: -5px;
  position: absolute;
  left: 0px;
}

.services li a {
  text-decoration: none;
  color: #716c6a;
  text-transform: uppercase;
  font-size: 15px;
  padding-left: 15px;
}

.img-box {
  position: relative;
}

.img-box .box-detail {
  position: absolute;
  width: 180px;
  height: 30px;
  bottom: 0;
  color: #716c6a;
  left: 40%;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  text-transform: uppercase;
}

.img-box .shop-btn {
  position: absolute;
  top: 30%;
  right: 20px;
}

.img-box .shop-btn p {
  font-size: 25px;
  color: #716c6a;
  text-transform: uppercase;
}

.img-box .shop-btn button {
  background-color: #fff;
  border: 1px solid #716c6a;
  font-weight: bold;
  padding: 2px;
  font-size: 12px;
  margin-left: 5%;
}

.center-detail {
  width: 59%;
}

.center-detail-2 {
  width: 40.6%;
}

.inp-email {
  height: 30px;
  width: 90%;
  padding-left: 10px;
  color: #716c6a;
}

.inp-email::-webkit-input-placeholder {
  color: #3c3c3c;
  font-size: 12px;
}

.inp-email:-ms-input-placeholder {
  color: #3c3c3c;
  font-size: 12px;
}

.inp-email::-ms-input-placeholder {
  color: #3c3c3c;
  font-size: 12px;
}

.inp-email::placeholder {
  color: #3c3c3c;
  font-size: 12px;
}

.social {
  list-style: none;
}

.social li {
  display: inline-block;
  padding: 10px;
  position: relative;
}

.social li a {
  text-decoration: none;
  color: #716c6a;
  text-transform: uppercase;
  font-size: 15px;
}

.central-ajuda {
  list-style: none;
  margin-top: 30px;
}

.central-ajuda li {
  padding: 5px;
  position: relative;
}

.central-ajuda li a {
  text-decoration: none;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 11px;
}

.institucional {
  list-style: none;
  margin-top: 30px;
}

.institucional li {
  padding: 5px;
  position: relative;
}

.institucional li a {
  text-decoration: none;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 11px;
}

.atendimento {
  list-style: none;
  margin-top: 30px;
}

.atendimento li {
  padding: 5px;
  position: relative;
}

.atendimento li a {
  text-decoration: none;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 11px;
}

.atendimento li p {
  font-size: 12px;
  color: #3c3c3c;
}

.atendimento li .atendimento-text {
  position: absolute;
  margin-top: -40px;
  margin-left: 20px;
}

.certificado {
  list-style: none;
  margin-top: 30px;
}

.certificado li {
  padding: 5px;
  position: relative;
}

.certificado li a {
  text-decoration: none;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 11px;
}

.forma-pagamento {
  list-style: none;
  padding: 10px;
}

.forma-pagamento li {
  position: relative;
  display: inline-block;
  padding: 5px;
  position: relative;
}

.forma-pagamento li a {
  position: absolute;
  white-space: nowrap;
  margin-top: -12px;
  text-decoration: none;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 11px;
}

.forma-pagamento li img {
  margin-left: 45%;
}

.email-div {
  position: relative;
}

.email-div .email-seta {
  position: absolute;
  right: 10px;
  top: 0px;
}

.endereco {
  font-size: 10px;
  padding: 20px;
  position: relative;
}

.endereco img {
  position: absolute;
  right: 0;
  top: 20px;
}

.email h3 {
  padding-left: 10px;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 0px auto 0 auto;
  border-radius: 4px;
}

#slider .control_next {
  position: absolute;
  font-size: 50px;
  z-index: 2;
  right: 10px;
  top: 45%;
  color: #716c6a;
}

#slider .control_prev {
  position: absolute;
  font-size: 50px;
  z-index: 2;
  left: 10px;
  top: 45%;
  color: #716c6a;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

.f-s-15 {
  font-size: 15px;
}

.search-div {
  position: relative;
}

.search-div img {
  position: absolute;
  right: 10px;
}

.home-product-new-hldr {
  position: relative;
  width: 100%;
}

.home-product-new-hldr .home-product-new {
  width: 100%;
  overflow: hidden;
}

.home-product-new-hldr .slider-btn-hldr-left {
  left: -32px;
}

.home-product-new-hldr .slider-btn-hldr-right {
  right: -32px;
}

.home-product-new-hldr .slider-btn-hldr {
  bottom: 0;
  display: block;
  padding: 0;
  width: 24px;
  position: absolute;
  top: 40%;
  z-index: 1;
}

.home-product-new-hldr .slider-btn {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  display: block;
}

.home-product-new-hldr .slider-btn img {
  position: absolute;
  margin-top: -50px;
}

.home-grid.products-grid.products-grid--max-4 {
  transition: -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s;
  position: relative;
  white-space: nowrap;
}

.item-container {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  width: auto;
}

#left-btn {
  display: none;
}

.products-grid .item {
  margin-left: 0;
  background: transparent;
  float: left;
}

.item-container {
  border: 1px solid #fff;
  height: 550px;
}

.item-container .item {
  position: relative;
}

.item-container .bg-hover {
  display: none;
}

.item-container .promotion {
  position: absolute;
  top: 0px;
  right: 10px;
  background: #000000d5;
  color: #fab49b;
  padding: 10px;
}

.item-container:hover {
  border: 1px solid #eef1f2;
}

.item-container:hover .item {
  position: relative;
}

.item-container:hover .item .bg-hover {
  display: block;
  background-color: #0000008f;
  width: 100%;
  height: 68%;
  position: absolute;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  cursor: pointer;
}

.item-container:hover .item .bg-hover .espiar {
  background: #000000d5;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  color: #fab49b;
  font-size: 16px;
  font-weight: 300;
}

.item-container .preco1 {
  text-decoration: line-through;
  color: #716c6a;
}

.item-container p {
  color: #716c6a;
  font-size: 14px;
}

.item-container ul li {
  display: inline;
  padding: 10px;
  font-size: 14px;
}

.item-container .slide-values {
  text-align: center;
}

.item-container button {
  background: #fbc7b4;
  border: none;
  height: 30px;
  width: 120px;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
}

.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000d5;
  overflow: hidden;
}

.modal .modal-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15% 25%;
  /* 15% from the top and centered */
  width: 50%;
}

.box-center-img .box-detail {
  left: 35%;
}

.box-center-img2 .box-detail {
  left: 25%;
}

.modal-2 {
  height: auto;
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .img-destaque {
    width: 1350px;
    height: 500px;
  }
  .box-center-img .box-detail {
    left: 30%;
  }
  .box-center-img2 .box-detail {
    left: 20%;
  }
}
/*# sourceMappingURL=style.css.map */